<label>Server Name</label>
<input
type="text"
class="form-control"
(input)="onUpdateServerName($event)">
<button class="btn btn-primary" [disabled]="allowNewServers" (click)="onCreateServer()">Add Server</button>
<app-server *ngFor="let server of servers"></app-server>
<p *ngIf="isCreated; else noServer">{{status}}</p>
<ng-template #noServer>
    <p>
        No Server was created!
    </p>
</ng-template>