<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 style="color: darkblue">I'm in the app component</h3>
      <hr>
      <app-servers></app-servers>
    </div>
  </div>
</div>
